# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Gmail / Google API auth
token.json
credentials.json

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Excel temporary files
~$*.xlsx

# macOS
.DS_Store
